useDynLib(spsurvey, .registration = TRUE)

exportPattern("^[^\\.]")

importFrom(deldir, deldir)
importFrom(deldir, tile.list)
importFrom(foreign, read.ssd)
importFrom(foreign, read.xport)
importFrom(MASS, ginv)
importFrom(rgeos, gIntersection)
