# Register spsurvey as a dynamic library
useDynLib(spsurvey, .registration=TRUE)

# Export all names
exportPattern(".")

# Import all packages listed as Depends or Imports
import(sp)
import(methods)
importFrom(deldir, deldir, tile.list)
importFrom(foreign, read.ssd, read.xport)
importFrom(MASS, ginv)
importFrom(rgeos, gIntersection)

# Export S3 methods
S3method(summary, SpatialDesign)
S3method(plot, SpatialDesign)
